.panel-success{
    background-color: green;
}

.panel-default {
  border-color: black;
  border-width: 2px;
  margin: 10px;
  float: left;
  width: 175px; }

.panel-default > .panel-heading
 {
 background-color: orange;
 font-size: medium;
 text-align: center;
}
