@{
    ViewBag.Title = "Contact";
}

<h2 class="text-center">Create Your Cloud</h2>
<div ng-controller="CreateCtrl">
    <div class="create">
        <form>
            <div class="form-group">
                <div class="panel panel-default">
                    <input type="text" class="form-control" placeholder="Poem Title" ng-model="Poetry.Title" />
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <input type="text" class="form-control" placeholder="Author Name" ng-model="Poetry.Author" />
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <textarea class="form-control" placeholder="Poem" ng-model="Poetry.Words"> </textarea>
                </div>
            </div>
            <button ng-click="CreateNSavePoem()">Create Poem</button>
        </form>
    </div>
</div>