
@{
    ViewBag.Title = "Index";
}

<div>
    <h3>My Poetry</h3>

    <div class="panel panel-danger">
        <ul>
            <li>Title: </li>
            <li>Author:</li>
        </ul>
    </div>
</div>