
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">My Poetry</h2>

<div ng-controller="UserCtrl">
    <div ng-repeat="poem in userPoems" class="userPoems">
        <div class="panel panel-default myPoems">
            <div class="panel panel-heading user">
                {{poem.Title}}
            </div>
            <div class="panel panel-heading user">
                {{poem.Author}}
            </div>
            <div>
                <button class="btn" ng-click="deletePoem(poem.Id)"><i class="remove circle outline icon"></i></button> 
                <button class="btn" ng-click="showCloud(poem.Id)"> <i class="cloud icon"></i></button>
            </div>
        </div>

    </div>

    <div id="wordsCloud">
        <word-cloud id = "childTag" words="words" width="width" height="height">
        </word-cloud>
    </div>
</div>